body {
    font-family: Arial, sans-serif;
    background-color: #dee9f1;
    margin: 0;
    padding: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9de9d9;
    color: #000000;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 150px;
    margin-top: 10px;
}

button:hover {
    background-color: #8dd3ef;
}